.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#connectingView {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: table;
    text-align: center;
}

#connectingIndicator {
    width: 20%;
    display: table-cell;
    vertical-align: middle;
    border: solid 1px;
    background-color: #ffffff;
}


.circleBase {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin: 2px;
}

.ledOff {
    background: #C7C7C7;
}

.ledOn {
    background: #00FF00;
}

p.center {
    text-align: center;
}

.container {
    position: relative;

    align-items: center;
    margin: 30px 0px;
}

/**
* Quarter Circles
*/

.controlCircle {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    transform: rotate(45deg);
    display: inline-;
}

.quarter {
    position: absolute;
    width: 50%;
    height: 50%;
    pointer-events: all;
    z-index: -2;
}

.verticalButton:active {
    background-color: #4f4f51;
}

.horizontalBtn:active {
    background-color: #e2660f;
}

.glyphicon-screenshot:active {
    color: #cc2828;
}

.horizontalBtn {
    background-color: #e8833c;
}

.verticalButton {
    background-color: #9e9ea3;
}

#upButton {
    top: 0;
    left: 0;
    border-radius: 100% 0 0 0;
}

#rightButton {
    top: 0;
    right: 0;
    border-radius: 0 100% 0 0;
}

#leftButton {
    bottom: 0;
    left: 0;
    border-radius: 0 0 0 100%;
}

#downButton {
    bottom: 0;
    right: 0;
    border-radius: 0 0 100% 0;
}

.cutout {
    width: 40%;
    height: 40%;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 30%;
    border-radius: 50%;
    z-index: -1;
}

#rstButton {
    width: 75%;
    height: 75%;
    background-color: white;
    transform: none;
    position: absolute;
    border-radius: 50%;
    top: 12.5%;
    left: 12.5%;
    z-index: 0;
    pointer-events: all;
}

.glyphicon-screenshot {
    font-size: 90px;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: rotate(45deg);
    color: #9e9ea3;
}

.glyphicon-chevron-up {
    font-size: 90px;
    position: absolute;
    bottom: 40%;
    left: 40%;
    transform: rotate(-45deg);
    color: grey;
}

#disconnectButton,
#autoButton {
    width: 130px;
    height: 50px;
    margin: 0px 33px;
}

.controlButtons {
    width: 400px;
    height: 50px;
    position: relative;
    display: inline-;
    margin: 30px auto;
}

#startView input {
    font-size: 40px;
    height: 60px;
    width: 300px;
}

#startView {
    width: 400px;
    height: 150px;
    position: relative;
    display: inline-;
    text-align: center;
}

label {
    font-style: italic;
}

#IPAddress {
    position: relative;
    display: block;
    margin: 0 auto;
}
#connectingView {
    display:none;
}